<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spell Checker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
  <center><h1>DSA project</h1></center><br>
<center><p>Spell checker using Trie data structure</p></center>
</div>

<div class="container"><br><br>
  <center><form action="/" method="post" enctype="multipart/form-data">
      <input type="file" name="file" placeholder="Drag and drop file" id="name" accept=".txt">
      <button class="btn btn-default" type="submit">Submit</button>
  </form></center> <br><br>
  <p id="data"></p>
</div>

</body>
</html>
